<div [class]="wrapperClasses">
  
  <div *ngIf="overlay" class="ms-progress-spinner__backdrop"></div>
  
  <div class="ms-progress-spinner__content" [ngStyle]="contentStyles">
    <div class="ms-progress-spinner__ring" *ngIf="showCircularBar" [ngClass]="circularRingClass" [ngStyle]="circularRingStyles" aria-hidden="true"></div>
    
    <mat-progress-spinner
      class="ms-progress-spinner__core"
      [mode]="mode"
      [value]="normalizedValue"
      [diameter]="computedDiameter"
      [strokeWidth]="computedStrokeWidth"
      [color]="color"
      [attr.aria-label]="ariaLabel || label || 'Loading'">
    </mat-progress-spinner>
    
    <div *ngIf="mode === 'determinate' && showValue" class="ms-progress-spinner__value">
      {{ displayValue }}
    </div>
  </div>
  
  <div *ngIf="label" class="ms-progress-spinner__label">
    {{ label }}
  </div>
  
</div>
